:root {
    --header-bg-color-hover: #da6b61;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #db4c3f;
    justify-content: space-between;
    padding: 10px 50px;
}

.leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.plussign {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(234deg) brightness(103%) contrast(101%);
    max-height: 20px;
    cursor: pointer;
}

.plussign:hover {
    transform: scale(1.1);
}

.rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profilepicture {
    border: 1px white solid;
    border-radius: 50px;
    max-height: 28px;
}

.profilepicture:hover {
    transform: scale(1.1);
}

.datewidth {
    width: 110px;
}

.menubutton {
    transition: .2s;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    font-size: 20px;
    margin: 0;
}

.menubutton:hover {
    background-color: var(--header-bg-color-hover);
}

.main-content {
    flex: 1;
    display: flex;
}

.sidebar {
    min-width: 0;
    background-color: rgba(0, 0, 0, .1);
    transition: 0.2s;
    display: flex;
    flex-direction: column;
}

ul, li {
    margin: 0;
    padding: 0;
}


li:hover {
    background-color: rgb(200, 200, 200);
}

.sidebaricon {
    padding: 10px 0px;
    height: 22px;
}

.sidebaritem {
    display: none;
    transition: 0.2s;
}

.innersidebar {
    flex: 0;
    padding-right: 0;
    padding-left: 5px;
    margin-right: 0;
    margin-left: 0;
    justify-content: left;
}

.innersidebartext {
    flex: 0;
}

.innersidebar:hover {
    background-color: rgb(210, 210, 210);
}

.innershadow {
    background-color: rgb(235, 235, 235);
    box-shadow: inset rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.sidebarboxlist {
    transition: .2s;
    display: flex;
    flex-direction: column;
    height: 0px;
    overflow: auto;
    overflow-x: hidden;
}

li {
    padding: 0 45px;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    width: 100vw;
    transition: 0.2s;
}

.todocontent {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 72vh;
    gap: 20px;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0px 10px 20px;
    border: black 1px solid;
    overflow: auto;
    transition: .2s;
    border-radius: 3px;
    grid-area: 2 / 2 / 3 / 3;
}

h1 {
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
}

.green {
    border-left: green 5px solid;
}

.red {
    border-left: red 5px solid;
}

.yellow {
    border-left: yellow 5px solid;
}

.checkbox {
    margin-left: 10px;
    transform: scale(1.5);
}
.details {
    margin-left: auto;
}
.todo {
    transition: 0.2s;
    padding-right: 20px;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;
    max-width: 100%;
}

.todo:hover {
    transform: scale(1.001);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.todo > * {
    overflow: hidden;
}

.todoicon {
    height: 35%;
    transition: 0.2s;
}

.todoicon:hover {
    transform: scale(1.1);
    filter: invert(18%) sepia(97%) saturate(1853%) hue-rotate(108deg) brightness(99%) contrast(105%);
}

.footer {
    padding: 0px 50px;
    background-color: rgb(130, 130, 130);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p {
    margin: 10px;
    color: white;
}

/* Scrollbar Credit to https://github.com/michalosman/restaurant-page*/
::-webkit-scrollbar {
    overflow: overlay;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(175, 175, 175);
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(150, 150, 150);
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(100, 100, 100);
}

@media screen and (max-width: 1200px) {
    .sidebaricon {
        padding-left: 0;
    }
    .innersidebartext {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .sidebartext {
        display: none!important;
    }
    li {
        padding-left: 5px;
        padding-right: 5px;
        justify-content: center;
    }
}